$color-text-cup-light: white;
$color-text-cup: black;
$background-cup: #68b0ab;
$background-cup-contact: #361500;
$background-cup-sqwad: #fdceb9;
$background-header: rgb(255, 255, 255);
$background-banner-educ: #7897ab;
$background-banner: #ededed;

$background-footer: #f5f5f5;
$color-text-simle: #8ea9ec;
$background-cool: #655d8a;
$color-text-dark: rgb(0, 0, 0);
$color-text-light: rgb(253, 253, 253);

.page__title_gr {
  background-color: $background-cup;
}

.header {
  position: fixed;
  background-color: $background-header;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .header__container {
    margin: 0 auto;
    max-width: 1600px;
  }

  .header__logo {
    width: 50px;
  }
  .header__wrapper {
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__list {
    display: flex;
    margin: 0;
  }
  .header__menu-title {
    font-size: 28px;
    color: $color-text-dark;
    text-decoration: none;
  }
  .header__menu-title:hover {
    color: blue;
    text-decoration: underline;
    transition: 0.2s linear;
  }
  .header__menu {
    position: relative;
  }
  .header__menu_mod {
    position: absolute;
    top: 80px;
    background-color: $background-header;
    width: 100%;
  }

  .header__item_start-animation {
    visibility: visible;
    transition: opacity 1s;
    opacity: 1;
  }
  .header__item_end-animation {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
  }

  .header__menu-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .header__menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-around;
  }
  .header__link {
    text-decoration: none;
    color: black;
  }
  .header__link:hover {
    border-bottom: 1px solid black;
  }
  .header__link-button {
    border: none;
    background-color: transparent;
  }
  .header__item {
    padding-right: 50px;
  }
}

.sum-box {
  height: 100vh;
}

.page__opennig-logo {
  background-color: $background-cup-sqwad;
  .page__title {
    font-size: 120px;
    color: $color-text-cup-light;
  }
  .page__container {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.page__opennig-logo_new {
  background-color: $background-cup;
  .page__title_new {
    font-size: 120px;
    color: $color-text-cup-light;
  }
  .page__container_new {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.page__opennig-logo_ne {
  background-color: #b1c5f5;
  .page__title_ne {
    font-size: 120px;
    color: $color-text-cup-light;
  }
  .page__container_ne {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.page__opennig-logo_n {
  background-color: $background-cup-contact;
  .page__title_n {
    font-size: 120px;
    color: $color-text-cup-light;
  }
  .page__container_n {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.open-info {
  margin-top: 100px;

  .open-info__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .open-info__heading {
    margin-bottom: 64px;
    font-size: 64px;
  }
  .open-info__parag {
    width: 1000px;
    font-weight: 500;
    font-size: 18px;
  }
}

.main__services {
  background-color: $background-cup;

  .main__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .image-carousel {
    width: 512px;
  }
  .services__header-width {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
  }
  .services__parag {
    font-weight: 500;
    color: $color-text-light;
    font-size: 18px;
  }
  .services__header {
    width: 600px;
    color: $color-text-cup-light;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .services__anime-photo {
    width: 800px;
    margin-left: 25%;
  }
}

.main__block-history {
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $background-cup;
  .block-history__header {
    color: $color-text-cup-light;
    font-size: 96px;
    text-align: center;
  }
  .block-history__list {
    display: flex;
    justify-content: space-around;
  }

  .block-history__item {
    border: 2px solid $color-text-cup-light;
    border-radius: 20px;
    margin: 10px;
    width: 300px;
  }
  .block-history__container {
    margin: 0 auto;
    max-width: 1600px;
  }
  .block-history__paragraph {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 25px;
    color: $color-text-cup-light;
  }
  .date-history {
    font-size: 64px;
    color: $color-text-cup-light;
  }
  .item-info-p-history {
    color: $color-text-cup-light;
  }
}

.main__block-fact {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1600px;
  .block-fact__header {
    text-align: center;
    margin-bottom: 64px;
    font-size: 98px;
  }
  .block-fact__list {
    display: flex;
    justify-content: space-around;
  }
  .block-fact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fact__header {
    font-size: 32px;
  }
  .hot-number {
    font-size: 64px;
  }
}

.footer {
  background-color: $background-footer;
  margin-top: 100px;
  .footer__container {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .footer-bottom-list {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .footer__item-link {
    text-decoration: none;
    color: $color-text-simle;
  }
  .footer__right-link,
  .footer__list,
  .footer__link-list,
  .footer__item-link,
  .footer__other-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 20px;
  }
  .footer__other-link {
    text-decoration: none;
  }
  .footer-bottom-item {
    margin: 20px;
  }
  hr {
    margin: 0 auto;
    height: 2px;
    width: 1400px;
  }
}

.hello-banner {
  background-image: url(../img/logo_new.jpg);
  background-repeat: no-repeat;
  background-color: $background-banner;
  background-position: center 50px;
  background-size: 750px;
  .container {
    max-width: 1600px;
  }
  .hello-banner__heading {
    font-size: 98px;
    margin-bottom: 64px;
  }
  .hello-banner__parag {
    font-size: 24px;
  }
  .hello-banner__text {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 64px;
  }
  .hello-banner__parag {
    align-self: flex-end;
  }
  .arrow-button {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    margin-top: auto;
  }
}
.cool-box {
  background-color: $background-cool;

  .cool-box__container {
    max-width: 1600px;
    margin: 0 auto;
    height: 400px;
  }
  .cool-box__parag {
    font-size: 64px;
    max-width: 1340px;
    font-weight: 500;
    color: $color-text-light;
  }
  .cool-box__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.anime-section-main {
  margin-top: 64px;
  background-image: url(../img/top.PNG);

  background-repeat: repeat;
  background-size: 1800px;
  height: 200px;
  animation: anime-left 15s linear infinite;
}
.anime-section-center {
  margin-top: 32px;
  background-image: url(../img/center.PNG);
  background-size: 1800px;
  height: 200px;
  animation: anime-right 15s linear infinite;
}
.anime-section-low {
  margin-top: 32px;
  background-image: url(../img/bottom.PNG);
  background-size: 1800px;
  height: 200px;
  animation: anime-left 15s linear infinite;
}
@keyframes anime-right {
  0% {
    background-position: 0;
  }
  25% {
    background-position: -350px;
  }
  50% {
    background-position: -700px;
  }
  75% {
    background-position: -1050px;
  }
  100% {
    background-position: -1500px;
  }
}

@keyframes anime-left {
  0% {
    background-position: 0;
  }
  25% {
    background-position: 350px;
  }
  50% {
    background-position: 700px;
  }
  75% {
    background-position: 1050px;
  }
  100% {
    background-position: 1500px;
  }
}
.directions-box {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
  .directions__heading {
    font-size: 64px;
    max-width: 1000px;
    margin-bottom: 88px;
  }
  .directions__block {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    height: 500px;
  }
  .item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .item-6 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .directions__item {
    text-decoration: none;
    color: $color-text-dark;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
  }
  .directions__block-parag {
    font-size: 24px;
    font-weight: 500;
    max-width: 195px;
    text-align: center;
  }
}

.directions__item_start-animation {
  background-color: #778097;
}

.directions__item_end-animation {
  background-color: transparent;
}

.sqwad {
  margin-top: 100px;
  .sqwad__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .sqwad__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .sqwad__item {
    width: 322px;
    margin: 20px;
    border-bottom: 1px solid black;
  }
  .sqwad-card__heading {
    font-size: 28px;
    font-weight: 500;
    color: black;
  }
  .sqwad-card__parag {
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
  .sqwad-card__info {
    padding: 8px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sqwad-card__link {
    text-decoration: none;
  }
  .sqwad-card__link:hover {
    text-decoration: underline black;
  }
  .sqwad-card__link:hover .image-person {
    transform: scale(1.05);
    transition: 0.5s linear;
  }
  .sqwad-card__link:not(:hover) .image-person {
    transform: scale(1);
    transition: 0.5s linear;
  }
}

.open-info-educat__parag {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 44px;
}

.educat-box {
  .educat-box__container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .educat-box__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    max-width: 800px;
  }
  .educat-box__item {
    text-decoration: none;
  }
  .educat-box__item:hover .educate-image,
  .educat-box__item:hover .dark-image {
    transform: scale(1.05);
    transition: 0.5s linear;
  }

  .educat-box__item:not(:hover) .educate-image,
  .educat-box__item:not(:hover) .dark-image {
    transform: scale(1);
    transition: 0.5s linear;
  }
  .educate-image,
  .dark-image {
    border-radius: 20px;
  }
  .educat-box__image-container {
    position: relative;
  }
  .dark-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  .educate-image__parag {
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 24px;
    color: white;
    font-weight: 500;
  }
}

.popular-educat-box {
  .popular-educat-box__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .popular-educat-box__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .popular-educat-box__item {
    text-decoration: none;
    color: $color-text-dark;
    margin: 20px;
  }

  .popular-educat-box__image-container {
    border: 1px solid lightblue;
    min-width: 340px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
  }
  .popular-educate-imege__parag {
    font-weight: 400;
  }
  .popular-educate-imege__kd {
    background-color: #bac6e4;
    max-width: 100px;
    text-align: center;
    border-radius: 20px;
  }
  .popular-educat-box__image-container:hover {
    border: 1px solid black;
    box-shadow: 0px 6px 41px 20px rgba(52, 88, 116, 0.2);
  }
}

.block-registation-main {
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
  .block-registration__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .block-registration {
    background-color: #b1c5f5;
    padding: 20px;
    border-radius: 20px;
  }
  .block-registration__input {
    padding: 20px;
    border-radius: 20px;
  }
  .block-registration__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .block-registration__heading {
    font-size: 40px;
    margin-bottom: 44px;
    font-weight: 500;
  }
  .block-registration__parag {
    font-size: 20px;
    font-weight: 500;
  }
  .block-registration__send {
    background-color: #ffd6d6;
    border: none;
    padding: 20px;
    border-radius: 60px;
  }
  .block-registration__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .block-registration__image-block {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
}

.branch-box {
  margin-top: 64px;
  .branch-box__container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .branch-box__list {
    display: flex;
    flex-wrap: wrap;
  }
  .branch-box__item {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .branch-box__item:hover .branch__image {
    transform: scale(1.05);
    transition: 0.5s linear;
  }

  .branch-box__item:not(:hover) .branch__image {
    transform: scale(1);
    transition: 0.5s linear;
  }

  .branch-box__item:hover .branch__button-arrow {
    transform: translateX(310px) translateY(-30px) rotate(270deg);
    transition: 0.5s linear;
  }

  .branch-box__item:not(:hover) .branch__button-arrow {
    transform: translateX(300px) translateY(-30px) rotate(270deg);
    transition: 0.5s linear;
  }

  .branch-box__title {
    max-width: 295px;
    padding: 20px;
  }
}

.contact-box {
  height: 100vh;
  background-color: $background-cup-contact;
  .contact-box__container {
    width: 1600px;
    margin: 0 auto;
    padding-top: 84px;
  }
  .contact-box__heading {
    color: $color-text-light;
    font-size: 98px;
    font-weight: 500;
  }
  .contact-box__list {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    height: 50vh;
  }
  .contact-box__item-2,
  .contact-box__item-4 {
    align-self: center;
  }
  .contact-box__item-3 {
    align-self: flex-end;
  }
  .contact-box__item-heading {
    color: $color-text-light;
  }
  .contact-box__item-parag {
    color: $color-text-light;
    font-weight: 500;
    font-size: 18px;
  }
}

.footer_no-margin {
  margin: 0;
}

.element-animation {
  opacity: 0;
  transform: translateY(20px);
}
.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.item-1:hover,
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover,
.item-6:hover {
  color: $color-text-light;
  transition: 1s linear;
}
.item-1:not(:hover),
.item-2:not(:hover),
.item-3:not(:hover),
.item-4:not(:hover),
.item-5:not(:hover),
.item-6:not(:hover) {
  color: $color-text-dark;
  transition: 1s linear;
}
